.result {
    background-color: white;
    border-radius: 10px;
    padding: 2em;
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    top:225px;
    
    left:;
    right:10%;
    position: absolute;
    z-index: 1000;
}

.ip__titulo,.location__titulo,.timezone__titulo,.isp__titulo {
    color: darkgray;
    font-size: 0.8em;
    padding-bottom: 0.5em;
}  

.result__ip,.result__titulo,.result__location,.result__timezone,.result__isp {
    text-align: center;
    width: 100%;
    border-right: 2px solid darkgrey;
    padding: 0.5em 0; 
}
.result__isp {
    border-right: none;
}

span {
    font-size: 1em;
}


@media screen and (max-width: 600px) {
    .result {
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    .result__ip,.result__titulo,.result__location,.result__timezone,.result__isp {
        border: none;

    }
}

@media screen and (min-width: 600px) {
    span {
        font-size: .7em;
    }
}

@media screen and (min-width: 1024px) {
    span {
        font-size: .8em;
    }
}